<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yamaan Faraz YF® restaurant menu.</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Yamaan Faraz YF® Official Restaurant Menu</h1>
        <h1 class="mt-4 mb-4">Our Delicious Menu 😋</h1>
    </div>
    <div>
        {% for meal in meals %}
            <h2>{{ meal.1 }}</h2>
            {% for row in item_list %}
            {% if row.meal_type == meal.0 %}
                {% if row.status == 0 %}
                <h3><del>{{ row.meal }}</del></h3>
                    <p>{{ row.description }}</p>
                {% else %}
                    <h3>{{ row.meal }}</h3>
                    <p>{{ row.description }}</p>
                {% endif %}
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>